entrypoint = "index.html"
modules = ["web", "python-3.11"]

[nix]
channel = "stable-24_11"
packages = ["static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"
waitForPort = 5000

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 40961
externalPort = 3000

[[ports]]
localPort = 43629
externalPort = 3001

[agent]
expertMode = true
